.header_akce{
    width: 100%;
    height: 700px;
    background-image: url(../obrazky/foto_akce.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .akce_nadpis{
        font-size: 60px;
        text-align: center;
    }

    .akce_podnadpis{
        font-size: 40px;
        text-align: center;
    }

    .akce_loga_turnaje{
        width: 80%;
        height: 200px;
        display: flex;
        justify-content: center;
    }

        .akce_loga_turnaje img{
            width: 80%;
        }

            .akce_loga_turnaje img:hover{
                background-color: rgba(0, 0, 0, 60%);
                border-radius: 50px;
            }

.akce_obsah{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0.50turn, #000000, #6A6F71, #000000)
}

    .akce_obsah_turnaje_txt{
        width: 80%;
        font-size: 30px;
        text-align: center;
    }

    .akce_rozdelovac{
        width: 80%;
        height: 2px;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .akce_obsah_op{
        width: 80%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .akce_obsah_op_podnadpis{
            font-size: 20px;
            padding-top: 100px;
        }

        .akce_obsah_op_logo{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .akce_obsah_op_logo img{
                width: 800px
            }

                .akce_obsah_op_logo img:hover{
                    background-color: rgba(0, 0, 0, 50%);
                    border-radius: 50px;
                }
  
        .akce_obsah_op_txt{
            font-size: 20px;
            text-align: center;
        }
    
    .akce_obsah_lb{
        width: 80%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .akce_rozdelovac_2{
            width: 100%;
            height: 1px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 120px;
            border: 1px solid white;
        }

        .akce_obsah_lb_podnadpis{
            font-size: 20px;
            padding-top: 100px;
        }

        .akce_obsah_lb_logo{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .akce_obsah_lb_logo img{
                width: 800px
            }

                .akce_obsah_lb_logo img:hover{
                    background-color: rgba(0, 0, 0, 50%);
                    border-radius: 50px;
                }
        
        .akce_obsah_lb_txt{
            font-size: 20px;
            text-align: center;
        }