.header_sluzby{
    width: 100%;
    height: 700px;
    background-image: url(../obrazky/foto_o_mne.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .sluzby{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .div_sluzby_nadpis{
        color: white;
        width: 90%;
        height: 30%;
        text-align: center;
    }
    
    .p_sluzby_nadpis{
        font-size: 60px;
    }
    
    .div_sluzby{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .img_sluzby_foto{
        width: 450px;
        padding-left: 15px;
    }
        
    .text_nabidka{
        width: 100%;
        height: 30%;
        font-size: 24px;
        color: white;
        padding-right: 15px;
    }