@font-face{
    font-family: "Balo"; /*Zde stanovuje název fontu */
    src: url(../rocnikova_prace/fonty/BalooBhaijaan-Regular.ttf);
}
body{
    font-family: Balo;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}
    .nav_logo{
        width: 120px;
        height: 100%;
    }
        .logo{
            width: 120px;
        }
    .nav_stranky{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 120px;
    }
        .nav_stranky a{
            text-decoration: none;
            color: white;
            font-size: 25px;
        }
        .nav_stranky a:hover{
            text-decoration: underline;
            transform: translateX();
        }

.d_nadpis{
    border: 1px solid white;
    color: white;
    width: 90%;
    height: 30%;
    text-align: center;
    margin: 150px;
}
    .p_nadpis{
        font-size: 60px;
    }
    .p_podnadpis{
        font-size: 40px;
    }